body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.button {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    border-radius: 4px;
    background-color: #027bfe;
    padding: 8px 12px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.button:hover {
    background-color: #0266d2;
}

/* Header section */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 9999;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-title {
    font-weight: 400;
}

/* Hero section */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 51px;
    padding: 100px 0;
    background: pink;
}

.hero:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.hero .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero .content {
    position: relative;
    z-index: 1;
}

.hero .content h1 {
    color: #fff;
    font-size: 42px;
    text-align: center;
    max-width: 700px;
    width: 100%;
}

form {
    display: flex;
    justify-content: center;
    height: 45px;
} 

input[type=email] {
    border-radius: 6px;
    padding: 4px 15px;
    border: none;
    margin-right: 10px;
    
} 

input[type=email]:hover {
    cursor: text;
} 

form button {
    width: 130px;
    border: none;
    font-size: 18px;
}

::placeholder {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}

.icons-grid {
    background-color: #f8f9fa;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.fully-responsive,.bootstrap,.easy {
    max-width: 255px;
    padding: 10px;
    font-weight: 200;
    color: rgb(77, 77, 77);
}

.bootstrap-hover {
    transition: 0.35s;
}

.bootstrap-hover:hover {
    transform: scale3d(1.1,1.1,1.1);
    cursor: pointer;
}

.icons-img {
    height: 80px;
    width: 80px;
    transition: 0.35s;
}

.icons-grid-title {
    color: black;
    font-size: 22px;
    letter-spacing: 0.3px;
}

/* text image grid section */

.text-image-grid {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    /* max-width: 1100px; */
    width: 100%;
}

.bg-showcase {
    margin: 0;
    display: flex;
}

.bg-showcase-img {
    width: 50%;
    flex-shrink: 0;
}

.bg-showcase-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    color:hsl(0, 0%, 90%)(77, 77, 77);
    font-weight: 200;
    margin: 0%;
    padding: 100px;
    width: 50%;
    box-sizing: border-box;
}

.bg-showcase-text {
    text-align: left;
    color: rgb(77, 77, 77);
    max-width: 550px;
    font-size: 15px;
    font-weight: 200;
    margin-right: 150px;
}

.bg-showcase-title {
    font-weight: 700;
    color: black;
    font-size: 22px;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.bg-showcase:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
}

.bg-showcase:nth-child(even) {
    display: flex;
}

/* feedback section */

.feedback {
    background-color: #f8f9fa;
    padding: 50px;  
}

.feedback-img {
    height: 160px;
    width: 160px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 5px 1px grey;
}

.feedback-title {
    margin: 0;
    text-align: center;
    margin: 50px;
    font-size: 28px;
    font-weight: 700;
}

.margaret,.fred,.sarah {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
    margin: 10px;
}

.feedback-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    text-align: center;
    
}

.feedback-name {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 24px;
}

.feedback-comment {
    margin: 0;
    font-weight: 200;
    font-size: 16px;
    color: rgb(77, 77, 77);
}

/* hero small section */

.hero-small {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 100px;
}


.hero-small:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    pointer-events: none;
    z-index: 1;
}

.hero-small .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

.hero-small .content {
    position: relative;
    z-index: 1;
}

.hero-small .content h3 {
    color:white;
    text-align: center;
    max-width: 700px;
    width: 100%;
    font-size: 35px;
}

.form input {
    width: 500px;
    margin-left: 0px;
    height: 30px;
    border-radius: 4px;
    height: 40px;
    margin-right: 5px;
}

/* footer */

footer {
    background-color:#f8f9fa;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 60px;
    padding-bottom: 50px;
}

.footer-link, .footer-text{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
}

.footer-text {
   color: rgb(77, 77, 77);
   font-weight: 200;
   font-size: 12px;
}

.footer-link {
    font-size: 14px;
    color: #3a8dfe;
}

span {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
}

.svg-icon {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.35s;  
}

.icons-img, .svg-icon {
    filter: invert(48%) sepia(35%) saturate(3925%) hue-rotate(197deg) brightness(101%) contrast(99%);
}

.svg-icon:hover {
    transform: scale3d(1.1,1.1,1.1);
}

.icon {
    width: 50px;
    height: 50px;
}


/* Media queries */

@media (max-width: 700px) {
    .hero {
        padding: 50px 0;
        display: block;
    }
}

@media (max-width: 700px) {
    .form {
        display: flex;
        flex-direction: column;
        max-width: 700px;
        
}        
    form input {
        margin-bottom: 10px;
        padding: 20px;
        display: flex;
        justify-content: center;
        max-width: 700px;
        
}
    form button {
        display: flex;
        max-width: 700px;
        
    }

}


@media (max-width: 700px) {
    .icons-grid {
        display: flex;
        flex-direction: column;
        padding-top: 110px;
        padding-bottom: 110px;
}

@media (max-width: 700px){
    .bg-showcase:nth-child(odd) {
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .bg-showcase:nth-child(even) {
        width: 100%;
        align-items: center;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .bg-showcase-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        max-height: 500px;
        font-size: 24px;
        padding: 25px;
    }
    .bg-showcase-text {
        margin: 0;
    }
    
    .bg-showcase-img {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .feedback-container {
        padding-left: 0;
        padding-right: 0;
        align-content: center;
        justify-content: center;
        width: 100%;
}
    .feedback h3 {
        margin-bottom: 40px;
        margin-top: 40px;
}
    .feedback-container {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
}
    .margaret, .fred, .sarah {
        flex-direction:column;
        display: flex;
        text-align: center;
        justify-content: center;
        width: 100%;
}
    .feedback-img {
        display: flex;
        border-radius: 50%;
        height: 50%;
        width: 50%;
        align-content: center;
        margin-left: 25%;
        box-sizing: border-box;
}
    .feedback-comment {
        display: flex;
        justify-content: center;
        align-items: center;
 }

    .margaret, .fred, .sarah {
        padding-left: 40px;
        padding-right: 40px;
        margin-bottom: 40px;
        
}

@media (max-width: 700px) {
    nav {
        display: flex;
}      

@media (max-width: 700px) {
    .hero-small {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    form input {
        width: 100%;
    }
    form button {
        width: 100%;
    }
}    

@media footer (max-width: 700px) {
    footer nav {
        display: flex;
    }
}